{% extends 'base/base.html' %}

{% block title %}
<title>アンケート一覧画面</title>
{% endblock %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block main %}
{% include 'base/pagenate.html' %}
<table class="table">
  <thead class="thead-light">
    <tr>
      {% for header in headers %}
      <th scope="col">
        {{ header }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    <tr>
      <td>
        <a href="{% url 'enquete:detail' d.enquete_id %}">
          {{ d.enquete_id }}
        </a>
      </td>
      <td>
        {{ d.enquete_name }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}